@using HairSalon.Models;

@{
  Layout = "_Layout";
}
<h2>@(@Model.FirstName + " " + @Model.LastName)</h2>

<h3>Clients for this provider:</h3>
@foreach (Client client in @Model.Clients)
{
  <p>@Html.ActionLink(client.FirstName + " " + client.LastName, "Details", "Clients", new {id =client.ClientId})</p>
}